body{
    margin: 0;
    background-color: black;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


}

.trendinglist img{
    margin-right: 20px;
}
.trendinglist li{
    display: flex;
    align-items: center;
    margin: 5px;
    list-style-type: none;

    padding: 5px;
    border: 1px solid grey;
    width: 20vw;
    height: 20px;
    
    
}
.trendinglist li:hover{
    background-color: #56565670;
    color: gold;
    transition: 1s;
}
.trendinglist {
    margin: 0 ;
    padding: 0;
}


.graphcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    /* margin: 5%; */

}
a{
    color:#1EB33E;

}
h1{
    text-align: center;
    color: gold;
}
.gold{
    color: gold;
}

@media screen and (max-width:768px){
    .trendinglist li{
       width: 80vw;
       justify-content: start;
       align-items: center;
       
        
        
    }
    .trendinglist ul{
        max-width: 90%;
    }
    main{
        margin: 5%;
    
    }

}